:root {
  /* ### Primary */
  --pink: hsl(322, 100%, 66%);
  /* ### Neutral */
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  /* ### Headings */
  --font-Popins: 'Poppins', sans-serif;
  /* ### Body, Call-to-actions */
  --font-Open-Sans: 'Open Sans', sans-serif;
  --font-weigth-400: 400;
  --font-weigth-700: 700;
}

.hero {
  max-width: 90rem;
  padding: 2.5rem 5rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: solid red 1px;
}

.hero__logo {
  max-width: 12.5rem;
}

.hero__btn {
  padding: .75rem 4rem;
  font-family: var(--font-Open-Sans);
  font-size: .7em;
  font-weight: var(--font-weigth-700);
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0.063rem 0.188rem rgb(0 37 46 / 12%), 0 0.063rem 0.125rem rgb(0 37 46 / 24%);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

/* End (Nav/Header) */
.main {
  max-width: 90rem;
  margin-inline: auto;
  margin-top: 1.5rem;
  outline: solid red 1px;
}

.main__build {
  margin-inline: 5.018rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.build__wrapper {
  flex: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  padding-top: 2.5rem;
}

.build__title {
  color: var(--very-dark-cyan);
  font-family: var(--font-Popins);
  font-size: 2em;
  word-wrap: break-word;
  line-height: 1.5;
  text-align: left;
}

.build__description {
  font-size: .92em;
  font-family: var(--font-Open-Sans);

}

.build__btn {
  padding: 1.15rem 4.1rem;
  font-family: var(--font-Open-Sans);
  font-size: .7em;
  font-weight: var(--font-weigth-700);
  color: #fff;
  background-color: var(--pink);
  border-radius: 1.75rem;
  -webkit-border-radius: 1.75rem;
  -moz-border-radius: 1.75rem;
  -ms-border-radius: 1.75rem;
  -o-border-radius: 1.75rem;
}

.build__ilustration1 {
  flex: 55%;
}

/* Services */
.main__services {
  padding: 10rem 6.5rem 17.25rem 6.5rem;
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.services__title {
  text-align: center;
  display: none;
  /* ---------------------------------------------------------------------------- Acabar con el titulo puto  */
}

.services__card {
  min-height: 27.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2.3rem;
  padding: 2.15rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 0.063rem 0.188rem rgb(0 37 46 / 12%), 0 0.063rem 0.125rem rgb(0 37 46 / 24%);
}

.services__card:nth-of-type(even) {
  flex-direction: row-reverse;
  padding-left: 6.25rem;
}

.services__card:nth-of-type(even)>.card__content {
  flex: 49%;
  padding: 0 0rem 0 5.4rem;
}

.card__content {
  flex: 62%;
  padding: 0 8rem 0 5rem;
}


.card__title {
  font-family: var(--font-Popins);
  font-size: 1.35em;
  font-weight: var(--font-weigth-700);
  color: var(--very-dark-cyan);
  margin-bottom: 1.1rem;
}

.card__description {
  font-family: var(--font-Open-Sans);
  font-size: .9em;
  line-height: 1.4;
  color: var(--grayish-blue);
}

.card__ilustration {
  flex: 36%;
}

/* Carta especial  */
.services__community {
  width: 50rem;
  min-height: 17.5rem;
  padding-top: 2.9rem;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #fff;
  box-shadow: 0 0.063rem 0.588rem rgb(0 37 46 / 12%), 0 0.063rem 0.125rem rgb(0 37 46 / 24%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.community__title {
  font-family: var(--font-Popins);
  font-size: 1.55em;
  color: var(--very-dark-cyan);
}

.community__btn {
  padding: 1.65rem 6rem;
  color: #fff;
  font-family: var(--font-Open-Sans);
  font-weight: var(--font-weigth-700);
  cursor: pointer;
  background-color: var(--pink);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}