:root {
  /* ### Primary */
  --pink: hsl(322, 100%, 66%);
  /* ### Neutral */
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  /* ### Headings */
  --font-Popins: 'Poppins', sans-serif;
  /* ### Body, Call-to-actions */
  --font-Open-Sans: 'Open Sans', sans-serif;
  --font-weigth-400: 400;
  --font-weigth-700: 700;
}

.hero {
  max-width: 90rem;
  padding: 2.5rem 5rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: solid red 1px;
}

.hero__logo {
  max-width: 12.5rem;
  outline: solid black 1px;
}

.hero__btn {
  padding: .75rem 4rem;
  font-family: var(--font-Open-Sans);
  font-size: .7em;
  font-weight: var(--font-weigth-700);
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0.063rem 0.188rem rgb(0 37 46 / 12%), 0 0.063rem 0.125rem rgb(0 37 46 / 24%);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

/* End (Nav/Header) */
.main {
  max-width: 90rem;
  margin-inline: auto;
  margin-top: 1.5rem;
  outline: solid red 1px;
}

.main__build {
  margin-inline: 5.018rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  outline: solid green 1px;
}

.build__wrapper {
  outline: black 1px solid;
  flex: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.build__title {
  color: var(--very-dark-cyan);
  font-family: var(--font-Popins);
  font-size: 2em;
  word-wrap: break-word;
  line-height: 1.5;
  text-align: left;
}

.build__description {}

.build__btn {}

.build__ilustration1 {
  outline: green 1px solid;
  flex: 55%;
}

/* .main__section--community {} */